

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 1.42em;
    color: #EBECEE;
    background-color: #f8fafc;
}

h1 {
    font-size: 2em;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    padding-top: 1.6em;
    color: #4DC3FA;
    letter-spacing: 2px;
}

h2 {
    font-size: 1.8em;
    font-weight: 400;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 2em;
    color: #4DC3FA;
}

.container2 th h1 {
    font-weight: bold;
    font-size: 1em;
    text-align: left;
    color: #185875;
}

.container2 td {
    font-weight: normal;
    font-size: 1em;
    -webkit-box-shadow: 0 2px 2px -2px #0E1119;
    -moz-box-shadow: 0 2px 2px -2px #0E1119;
    box-shadow: 0 2px 2px -2px #0E1119;
}

.container2 {
    text-align: left;
    overflow: hidden;
    width: auto;
    margin: 0 auto;
    display: table;
    padding: 0 0 8em 0;
}

.container2 td,
.container2 th {
    padding-bottom: 2%;
    padding-top: 2%;
    padding-left: 2%;
}




a.info {
  margin-right: 8%;
  color:#4DC3FA;
  text-decoration: none;
}


.btn.btn-primary{
      font-size: 16px;
      font-weight: 500;
      background-color: #4DC3FA;
      border-color: #fff;
  }

.btn.btn-success{
    font-size: 16px;
    font-weight: 500;
    background-color: #4DC3FA;
    border-color: #fff;
}

#milieu {
    font-family: 'Open-sans', sans-serif;
    font-size: 16px;
    height: 38px;
    margin: auto;
    padding-left: 30px;
    border: 2px solid  #4DC3FA;
    border-radius: 5px;
}

.btn.btn-danger {
  font-weight: bolder;
  padding-right: 10%;
  color: #fa844d;
  background-color: #EBECEE;
  border-color: #4DC3FA;
}


.alert.alert-success.orange{
  width: 26rem;
  height: 4rem;
  font-family: 'Open-sans', sans-serif;
  font-weight: 500;
  margin-top: 1em;
  margin-left: 2px;
  background-color: #EBECEE;
  border-color:#4DC3FA;
}

.alert>p{
    color: #fa844d;
}
/* Background-color of the odd rows */
.container2 tr:nth-child(odd) {
    background-color: #323C50;
}

/* Background-color of the even rows */
.container2 tr:nth-child(even) {
    background-color: #2C3446;
}

.container2 th {
    background-color: #1F2739;
}

.container2 td:first-child {
    color: #4DC3FA;
}

.container2 tr:hover {
    background-color: #464A52;
    -webkit-box-shadow: 0 6px 6px -6px #0E1119;
    -moz-box-shadow: 0 6px 6px -6px #0E1119;
    box-shadow: 0 6px 6px -6px #0E1119;
}

.container2 td:hover {
    background-color: #EBECEE;/*ici joli gris clair*/
    color: #0E1119;
    font-weight: bold;

    box-shadow: #4DC3FA -1px 1px, #4DC3FA -2px 2px, #4DC3FA -3px 3px;
    transform: translate3d(6px, -6px, 0);

    transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: line;
}

.row.gris {
    font-family: 'Open-sans', sans-serif;
    font-size: 16px;
    color: #0E1119 ;
    background-color:  #EBECEE;
    margin-bottom: 1em;
    padding-top: 0.8em ;
}

@media (max-width: 800px) {

    .container2 td:nth-child(4),
    .container2 th:nth-child(4) {
        display: none;
    }
}
